.application {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: .25em;

    font-size: 2em;

    background-color: lightgreen;
    color: white;
}

.btn-add-player {
    font-size: 1em;
    width: auto;
    border-radius: 10%;
}

.player-list { 
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;

    padding: .25em;
    padding-top: .5em;

    background-color: lightblue;
}